/*-- scss:defaults --*/

$body-bg: #eee;
$body-color: #444;
$link-color: #666;
$code-block-bg: #f5f4f4;
$code-block-border-color: #f5f4f4;
$presentation-h1-font-size: 3.4em;
$presentation-h2-font-size: 2em;
$presentation-h3-font-size: 1.8em;
$mermaid-font-size: 100px;
/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

.slide li {
    font-size: 40px;
    color: #666;
}

.slide p {
    font-size: 38px;
    color: #666;
}

.slide a {
    text-decoration: underline;
}

.slide code {
  font-size: 34px;
}

.sample-large code {
  font-size: 28px;
}

.sample-medium code {
  font-size: 23px;
}

.sample-small code {
  font-size: 19px;
}

.dark-slide p {
  color: #fff;
}

.dark-slide li {
  color: #fff;
}